<p>
  list-of-items-component works!
</p>

<p-table [value]="categories">
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Action</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
      <tr>
          <td>{{category.id}}</td>
          <td>{{category.categoryName}}</td>
          <td><p-button label="delete" (onClick)="deleteCategory(category.id)"></p-button></td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
        <td></td>
        <td><input type="text" pInputText [(ngModel)]="newCategoryName"/></td>
        <td><p-button label="save" (onClick)="addCategory()"></p-button></td>
    </tr>
</ng-template>
</p-table>
